- var title = 'Denis Grushkin'
- var desc = 'My goal is to help grow the business by introducing new technologies.'
block variables

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title #{title}
  meta(name='description' content=desc)
  meta(property='og:title' content=title)
  meta(property='og:description' content=desc)
  meta(property='og:image' content='https://denisoed.github.io/denisoed/assets/images/me.jpg')
  meta(property='og:url' content='https://denisoed.github.io/denisoed/')
  link(href='https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='assets/vendors/@fortawesome/fontawesome-free/css/all.min.css')
  link(rel='stylesheet' href='assets/css/live-resume.css')

  // Yandex.Metrika counter
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(72667222, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/72667222' style='position:absolute; left:-9999px;' alt='')
    // Yandex.Metrika counter

body
  header
    button.btn.btn-white.btn-share.ml-auto.mr-3.ml-md-0.mr-md-auto(data-social='telegram')
      img.btn-img(src='assets/images/share.svg' alt='share')
      | Share to Telegram
    nav#collapsible-nav.collapsible-nav
      a.nav-link.active(href='/') Resume
      a.nav-link(href='https://github.com/denisoed', target='_blank') Portfolio
      a.nav-link(href='https://maddevs.io/blog/author/denis-grushkin/', target='_blank') Blog
    button.btn.btn-menu-toggle.btn-white.rounded-circle(data-toggle='collapsible-nav' data-target='collapsible-nav')
      img(src='assets/images/hamburger.svg' alt='hamburger')
  .content-wrapper
    include ../assets/components/aside.pug
    main
      section.intro-section
        h2.section-title Hello, I&apos;m Denisoed!
        p
          | #{desc}
        // <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>
      section.resume-section
        section.services-section
          h6.section-subtitle What I can do
          h2.section-title Services
          .row
            .media.service-card.col-lg-6
              .service-icon
                img(src='assets/images/puzzle.svg' alt='bulb')
              .media-body
                h5.service-title Building the Front-end
                p.service-description
                  | Creating web applications using popular tools.
            .media.service-card.col-lg-6
              .service-icon
                img(src='assets/images/002-development.svg' alt='development')
              .media-body
                h5.service-title Back-end for your app
                p.service-description
                  | Creating the backend part for your web application.
            .media.service-card.col-lg-6
              .service-icon
                img(src='assets/images/004-smartphone.svg' alt='smartphone')
              .media-body
                h5.service-title Adaptation for mobile devices
                p.service-description
                  | Fast adaptation of web applications for mobile devices.
            .media.service-card.col-lg-6
              .service-icon
                img(src='assets/images/001-target.svg' alt='target')
              .media-body
                h5.service-title Deploy on production
                p.service-description
                  | Running web applications on a real and reliable servers.
        section.skills-section
          .row
            .col-lg-12
              .row
                .col-lg-12
                  h6.section-subtitle Superpowers
                  h2.section-title Skills
              .row
                .col-lg-12
                  .row
                    .col-lg-6
                      ul.time-line
                        li.time-line-item
                          span.badge.badge-primary.mr-2 JavaScript
                          span.badge.badge-primary.mr-2 Typescript
                          span.badge.badge-primary.mr-2 Web 3
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Vue.js
                          span.badge.badge-primary.mr-2 Nuxt.js
                          span.badge.badge-primary.mr-2 React.js
                        li.time-line-item
                          span.badge.badge-primary.mr-2 REST api
                          span.badge.badge-primary.mr-2 GraphQl
                          span.badge.badge-primary.mr-2 Apollo
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Git
                          span.badge.badge-primary.mr-2 Jira
                          span.badge.badge-primary.mr-2 Figma
                          span.badge.badge-primary.mr-2 Miro
                        li.time-line-item
                          span.badge.badge-primary.mr-2 HTML5 
                          span.badge.badge-primary.mr-2 Pug/Jade
                          span.badge.badge-primary.mr-2 CSS3
                          span.badge.badge-primary.mr-2 Sass/Scss
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Bootstrap
                          span.badge.badge-primary.mr-2 Vuetify
                          span.badge.badge-primary.mr-2 Quasar
                          span.badge.badge-primary.mr-2 Chakra UI
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Unit testing(jest),
                          span.badge.badge-primary.mr-2 Integration testings(cypress)
                    .col-lg-6
                      ul.time-line
                        li.time-line-item
                          span.badge.badge-primary.mr-2 SSR
                          span.badge.badge-primary.mr-2 SSG
                          span.badge.badge-primary.mr-2 SPA
                          span.badge.badge-primary.mr-2 PWA
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Vite
                          span.badge.badge-primary.mr-2 Webpack
                          span.badge.badge-primary.mr-2 Rollup
                          span.badge.badge-primary.mr-2 Gulp
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Node.js
                          span.badge.badge-primary.mr-2 Express.js
                          span.badge.badge-primary.mr-2 MongoDB
                        li.time-line-item
                          span.badge.badge-primary.mr-2 SQL
                          span.badge.badge-primary.mr-2 Python
                          span.badge.badge-primary.mr-2 Django
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Linux
                          span.badge.badge-primary.mr-2 Docker
                          span.badge.badge-primary.mr-2 Docker Compose
                          span.badge.badge-primary.mr-2 Gitlab CI/CD
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Strapi
                          span.badge.badge-primary.mr-2 Prismic
                        li.time-line-item
                          span.badge.badge-primary.mr-2 Programming printers
                          span.badge.badge-primary.mr-2 Browser Extension
                          span.badge.badge-primary.mr-2 Cordova
        .row
          .col-lg-12
            .row
              .col-lg-12
                h6.section-subtitle All projects
                h2.section-title Experience
            .row
              .col-lg-12
                .row
                  .col-lg-6
                    ul.time-line
                      li.time-line-item
                        span.badge.badge-primary Mar 2023 &ndash; Until now
                        h6.time-line-item-title NFT Marketplace - Typescrypt, Vue 3, Quasar
                        p.time-line-item-subtitle
                          | Blockchain-based online platform to sell and buy non-fungible tokens (NFTs).
                        p.time-line-item-content - Setting up a project from scratch
                        p.time-line-item-content - Setting up SSR for SEO
                        p.time-line-item-content - Development of features
                        p.time-line-item-content - Creating a wallet for the marketplace
                        p.time-line-item-content - Testing of components
                      li.time-line-item
                        span.badge.badge-primary Aug 2022 &ndash; Mar 2023
                        h6.time-line-item-title CryptoMarry - Typescrypt, React, Chakra UI
                        p.time-line-item-subtitle
                          | CryptoMarry is a Web3 platform that rediscovers how partners accumulate and manage their joint crypto assets.
                        p.time-line-item-content - Refactoring existing code
                        p.time-line-item-content - Setting up SSR(Next.js) for SEO
                        p.time-line-item-content - Connecting MetaMask for transactions
                        p.time-line-item-content - Development of features
                        p.time-line-item-content - Testing of components
                      li.time-line-item
                        span.badge.badge-primary Dec 2021 &ndash; Aug 2022
                        h6.time-line-item-title Enji.ai - Typescrypt, Vue.js, Quasar
                        p.time-line-item-subtitle
                          | Automation of internal processes of Mad Devs.
                        p.time-line-item-content - Developing a framework for sending SQL directly from the frontend
                        p.time-line-item-content - Development of new features, support
                        p.time-line-item-content - Testing of components
                      li.time-line-item
                        span.badge.badge-primary Juny 2021 &ndash; Dec 2021
                        h6.time-line-item-title Edentity - Javascript, Vue.js, Cypress, Vuetify, Html, Scss
                        p.time-line-item-subtitle
                          | Widget for the car showroom and admin panel.
                        p.time-line-item-content - Creating a car store
                        p.time-line-item-content - Creating a widget for integrating the store into other dealers' websites
                        p.time-line-item-content - Development of new features, support
                        p.time-line-item-content - Testing of components
                      li.time-line-item
                        span.badge.badge-primary Dec 2020 &ndash; Juny 2021
                        h6.time-line-item-title Mad Devs v2 - Javascript, Nuxt.js, SSR, Prismic.js
                        p.time-line-item-subtitle
                          | Development of the new website for Mad Devs.
                        p.time-line-item-content - Migration from Vue 2 to Nuxt.js
                        p.time-line-item-content - Setting up SSR for SEO
                        p.time-line-item-content - Connecting and configuring Prismic.js
                        p.time-line-item-content - Refactoring, optimization, accessibility
                        p.time-line-item-content - Development of new features, support
                        p.time-line-item-content - Testing of components
                      li.time-line-item
                        span.badge.badge-primary Oct 2020 &ndash; Dec 2020
                        h6.time-line-item-title IotHub - Javascript, React.js, Apollo client, Stripe.js
                        p.time-line-item-subtitle
                          | IoT Hub is a system for organizing centralized configuration management and security checks of IoT devices (mainly intended for office work and companies): printers, UPS, routers, etc.
                        p.time-line-item-content - Development of new features, support
                        p.time-line-item-content - Testing of components
                        p.time-line-item-content - Connecting and configuring Stripe.js
                        p.time-line-item-content - Setup React Apollo Client
                      li.time-line-item
                        span.badge.badge-primary Feb 2020 - Oct 2020
                        h6.time-line-item-title Edentity - Javascript, Vue.js, Cypress, Vuetify, Html, Scss
                        p.time-line-item-subtitle Developing a widget for the car showroom and admin panel
                        p.time-line-item-content - Widget development for websites without using html iframe
                        p.time-line-item-content - Layout of the admin panel for the widget via Vuetify
                        p.time-line-item-content - Setup unit, component, integration tests. Setup json server for tests
                  .col-lg-6
                    ul.time-line
                      li.time-line-item
                        span.badge.badge-primary Jan 2020 &ndash; Feb 2020
                        h6.time-line-item-title Simplonpass - Javascript, React.js, Html, Scss
                        p.time-line-item-subtitle Service for hiring companies, creating contracts, bonds, etc.
                        p.time-line-item-content - Development assistance
                        p.time-line-item-content - Setup JWT authentication
                      li.time-line-item
                        span.badge.badge-primary Dec 2019 &ndash; Jan 2020
                        h6.time-line-item-title Iview - Javascript, React.js, Html, Scss
                        p.time-line-item-subtitle Service for viewing traffic jams on alleys, using cameras
                        p.time-line-item-content - Project layout from scratch
                        p.time-line-item-content - PWA Setup 
                      li.time-line-item
                        span.badge.badge-primary Jan 2019 - Dec 2019
                        h6.time-line-item-title KICKEX - Javascript, Vue.js, Pug, Scss
                        p.time-line-item-subtitle
                          | KickEx - a cryptocurrency exchange with smart orders and low trading commissions.
                        p.time-line-item-content - Project layout from scratch, create components, adding a dark theme
                        p.time-line-item-content - Setup tradingview charts. https://www.tradingview.com
                      li.time-line-item
                        span.badge.badge-primary Aug 2018 - Jul 2019
                        h6.time-line-item-title Nappy Club - PHP, Yii2, Html, Scss
                        p.time-line-item-subtitle Sale of diapers throughout Russia
                        p.time-line-item-content - Development of new features, support.
                        p.time-line-item-content - HTML letter layout.
                        p.time-line-item-content - Writing integration tests for fronted.
                      li.time-line-item
                        span.badge.badge-primary Jul 2018 - Aug 2018
                        h6.time-line-item-title Website for Mad Devs - Javascript, Vue.js, Html, Scss
                        p.time-line-item-subtitle Development of the official website for Mad Devs
                        p.time-line-item-content - The layout of the new design for the website of the company Mad Devs.
                        p.time-line-item-content - Migrating MD site from Vue.js to Nuxt.js framework
                      li.time-line-item
                        span.badge.badge-primary May 2018 - Jul 2018
                        h6.time-line-item-title PekloTool - Javascript, Vue.js, HTML, Scss
                        p.time-line-item-subtitle Generation of contextual advertising
                        p.time-line-item-content - Development of new feature, Support.
                        p.time-line-item-content - Server api integration on the client side.
                      li.time-line-item
                        span.badge.badge-primary Feb 2018 - May 2018
                        h6.time-line-item-title Silkroadexplore, ShowMeBishkek - PHP, Wordpress, HTML, CSS, Javascript
                        p.time-line-item-subtitle Organization of tours in Kyrgyzstan
                        p.time-line-item-content - Development of new feature, Support.
                        p.time-line-item-content - Deploy code to production via FTP FileZilla.
                        p.time-line-item-content - Creation of new blocks on the pages, without the involvement of the designer.
                      li.time-line-item
                        span.badge.badge-primary Jan 2018 &ndash; Feb 2018
                        h6.time-line-item-title Mad Location Manager - Gulp, Javascript, Html, Sass, Pug
                        p.time-line-item-subtitle This is library for GPS and Accelerometer data &quot;fusion&quot; with Kalman filter
                        p.time-line-item-content - Did the layout of the site. https://gps.maddevs.io/en
                        p.time-line-item-content - Added multi-language functional without using plugins.
                      li.time-line-item
                        span.badge.badge-primary Oct 2017 - Jan 2018
                        h6.time-line-item-title Mad Devs internship programm
                        p.time-line-item-subtitle Technologies: Python, Django, PosgreSQL, Javascript, HTML, CSS
                        p.time-line-item-content - Development of an internal project for sending spam to different services.
                        p.time-line-item-content - Development of a Telegram bot for finding mentors            
      include ../assets/components/footer.pug
  script(src='assets/vendors/jquery/jquery.min.js')
  script(src='assets/vendors/@popperjs/core/dist/umd/popper-base.min.js')
  script(src='assets/vendors/bootstrap/js/bootstrap.min.js')
  script(src='//cdn.jsdelivr.net/npm/goodshare.js@6/goodshare.min.js')
  script(src='assets/js/live-resume.js')
